.cancelButtonWrapper{
    position: absolute;
    top: 60px;
    left: 100px;
}
.main{
    position: relative;
    width: 100%;
    height: 98vh;
    background: #DDE7EF;
}
.main *{
    position : relative;
    z-index: 1;
}
.backgroundImage{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.9;
}
.description{
    font-size: 26px;
    color : #5E5E5E;
}
.user{
    font-size: 30px;
    color : black;
}